.error {
  font-size: large;
  font-weight: bold;
  color: red;
}

.label, label {
  font-weight: bold;
  background-color: lightgray;
}

label span {
  font-weight: normal;
  background-color: white;
}

input {
  margin-left: 15px;
}

.mistake {
  color: red;
  font-weight: bold;
}
